body,
html {
    height: 100%;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 25% 74%;
    gap: 15px;
    text-align: center;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
}

.container div {
    display: grid;
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
    border-radius: 15px;
}

.header {
    display: grid;
    grid-column: span 2;
    background-color: #006157;
}

.sidebar {
    display: grid;
    grid-row: span 2;
    background-color: #005b94;
}

.nav {
    display: grid;
    grid-row: span 1;
    grid-column: span 1;
    background-color: #642cde;
}

.article {
    display: grid;
    grid-column: 2;
    background-color: #7e1dc3;
}

.footer {
    display: grid;
    grid-column: span 2;
    background-color: #393f4d;
}

.article p {
    display: grid;
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
}
